.color_10E020 {color: #10E020 }
.color_EE2222 {color: EE2222 }
.color_32CD32 {color: #32CD32 }
.color_FF8C00 {color: #FF8C00 }
.color_AAAAFF {color: #AAAAFF }
.color_F0F060 {color: #F0F060 }
.color_E0F050 {color: #E0F050 }
.color_908858 {color: #908858 }
.color_9400D3 {color: #9400D3 }
.color_FFFFFF {color: #FFFFFF }
.color_4850B8 {color: 4850B8 }
.color_E0FF60 {color: E0FF60 }
.color_9F9F9F {color: #9F9F9F }
.color_7080D8 {color: 7080D8 }
.color_AAAAAA {color: #AAAAAA }
.color_FF0000 {color: FF0000 }
.color_red {color: red }
.color_FAFAFA {color: #FAFAFA }
.color_ffff7f {color: ffff7f }
.color_yellow {color: yellow }
.color_80B040 {color: 80B040 }
.color_FFFF60 {color: #FFFF60 }
.color_0000FF {color: #0000FF }
.color_6F6F6F {color: #6F6F6F }
.color_B22222 {color: #B22222 }
.color_F0F0F0 {color: #F0F0F0 }
.color_F09080 {color: F09080 }
.color_60B020 {color: #60B020 }
.color_cyan {color: cyan }
.color_3060FF {color: #3060FF }
.color_9999FF {color: 9999FF }
.color_F00000 {color: #F00000 }
.color_B02020 {color: #B02020 }
.color_FFFF99 {color: FFFF99 }
.color_orange {color: orange }
.color_48B850 {color: #48B850 }
.color_90FF90 {color: #90FF90 }
.color_2060B0 {color: #2060B0 }
.color_4040B0 {color: #4040B0 }
.color_A0A747 {color: #A0A747 }
.color_DD4422 {color: DD4422 }
.color_eebb22 {color: eebb22 }
.color_FFA0A0 {color: #FFA0A0 }
.color_DD5522 {color: DD5522 }
.color_E010E0 {color: #E010E0 }
.size_-2 {font-size: x-small }
.size_p1 {font-size: large }
.size_-1 {font-size: small }
.size_p2 {font-size: x-large }

div { font-family: "arial"; }
.center {
    text-align: center;
}
.center > div, .center > table {
    margin-left: auto;
    margin-right: auto;
}
table {
    border: 0;
}
td {
    padding: 3px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color:  #101010;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #545454;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #101010;
  display: none;
  overflow: hidden;
}
