<%page args="armors"/>\
<font size="-1" face="arial,helvetica">
<%
    categories = set()
%>
% for armor in armors:
<% categories.add(armor[1]) %>
% endfor




<table width="818" cellpadding="5" border="0">
<tbody><tr><td colspan="13" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">
<font color="FF0000"><b>Helms/Torso/Shields dropped in normal and early NM may not be able to have the max sockets.</b></font> See <a href="https://d2esr.fandom.com/wiki/Item_Enhancement#Making_Sockets">here</a> for details.<br>
Consult the wiki for a <a href="https://d2esr.fandom.com/wiki/Tables#Area_Levels">list of area levels</a>, any area with level 40 and higher will allow the max amount of sockets in any item dropped there. Any drops from Nightmare Act 2-5 and Hell can have the maximum number of sockets. The base defense of some armor has been changed.
</font></td></tr><tr>
</tr></tbody></table>

% for category in list(categories):
<a name="${category}"></a>
% for qlink in list(categories):
<a href="#${qlink}">[${qlink}]</a>
% endfor
    <table cellpadding="5" border="0">
    <tbody><tr><td colspan="13" bgcolor="#402040" align="center"><font face="arial,helvetica">
    <b>${category}</b></font></td></tr><tr>
    <td width="140" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Name</font></td>
    <td width="65" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Defense</font></td>
    <td width="30" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Dur</font></td>
    <td width="30" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">FRW</font></td>
    <td width="25" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Qlvl</font></td>
    <td width="48" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Mag Lvl</font></td>
    <td width="48" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Req Lvl</font></td>
    <td width="48" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Req Str</font></td>
    <td width="85" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Block%</font></td>
    <td width="65" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Damage</font></td>
    <td width="26" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Soc</font></td>
    <td width="62" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Gem Type</font></td>
    </tr>
    % for armor in armors:
    % if armor[1] == category:
<%
    color = 101010
    if armor[3] == armor[5]:
	color = 202020
    if armor[3] == armor[6]:
        color = 303030
%>
        <tr>
	<td bgcolor="#${color}" align="center"><font size="-1" face="arial,helvetica">${armor[0]}</font></td>
	<td bgcolor="#${color}" align="center"><font size="-1" face="arial,helvetica">${armor[7]}-${armor[8]}</font></td>
	<td bgcolor="#${color}" align="center"><font size="-1" face="arial,helvetica">${armor[9]}</font></td>
	<td bgcolor="#${color}" align="center"><font size="-1" face="arial,helvetica">${armor[10]}</font></td>
	<td bgcolor="#${color}" align="center"><font size="-1" face="arial,helvetica">${armor[11]}</font></td>
	<td bgcolor="#${color}" align="center"><font size="-1" face="arial,helvetica">${armor[12]}</font></td>
	<td bgcolor="#${color}" align="center"><font size="-1" face="arial,helvetica">${armor[2]}</font></td>
	<td bgcolor="#${color}" align="center"><font size="-1" face="arial,helvetica">${armor[13]}</font></td>
	<td bgcolor="#${color}" align="center"><font size="-1" face="arial,helvetica">${armor[14]}</font></td>
	<td bgcolor="#${color}" align="center"><font size="-1" face="arial,helvetica">${armor[15]}-${armor[16]}</font></td>
	<td bgcolor="#${color}" align="center"><font size="-1" face="arial,helvetica">${armor[17]}</font></td>
	<td bgcolor="#${color}" align="center"><font size="-1" face="arial,helvetica">${armor[18]}</font></td>
	</tr>
    % endif
    % endfor
</tbody></table>
% endfor
