<%page args="item_groups"/>\
<font size="-1" face="arial,helvetica">
% for item_group in item_groups:
<a href="#${item_group.name}">[${item_group.name}]</a>
% endfor
% for item_group in item_groups:
<a name="${item_group.name}"></a>
<table cellpadding="5" border="0">
	<tbody>
		<tr>
			<td colspan="3" bgcolor="#402040" align="center">
				<font face="arial,helvetica">
					<b>
						${item_group.name}
					</b>
				</font>
			</td>
		</tr>
		<tr>
			<td width=300 bgcolor="#402040" align="center">
				<font size="-1" face="arial,helvetica">
					Name
				</font></td>
			<td width=200 bgcolor="#402040" align="center">
				<font size="-1" face="arial,helvetica">
					Stats
				</font></td>
			<td width=500 bgcolor="#402040" align="center">
				<font size="-1" face="arial,helvetica">
					Properties
				</font>
			</td>
		</tr>
		% for item in item_group.items:
		<tr>
			<td align=center bgcolor=#${item.bg_color_code}>
				<font face=arial,helvetica size=-1>
					<b>
						${item.name}
						<br>
						<a href="javascript:void(0);">
							${item.base_name}
						</a>
					</b>
				</font>
				<br>
				<br>
				<font face=arial,helvetica size=-1>
					Gamble Item:
					<br>
						<b>
							NOT IMPLEMENTED
						</b>
				</font>
			</td>
			<td align=center bgcolor=#${item.bg_color_code}>
				<font face=arial,helvetica size=-1>
					Item Level: ${item.item_level}
					<br>
					Required Level: ${item.required_level}
					<br>
				</font>
			</td>
			<td align=center bgcolor=#${item.bg_color_code}>
				<font face=arial,helvetica size=-1>
					<font color=4850B8>
					% for stat in item.get_stats_sorted():
						${stat.stat_string}
						<br>
					% endfor
					</font>
				</font>
			</td>
		</tr>
		% endfor
	</tbody>
</table>
<font size="-1" face="arial,helvetica">
% for item_group in item_groups:
<a href="#${item_group.name}">[${item_group.name}]</a>
% endfor
% endfor