<%page args="socketables, gemapplytype_names"/>\
<table cellpadding="5" border="0">
<tbody>

% for socketable in socketables:

<tr><td colspan="3" bgcolor="#402040" align="center">
<font size="-1" face="arial,helvetica" color="#E010E0"><b>${socketable.name}</b></font>
<br>
<font size="-1" face="arial,helvetica">Req Lvl: ${socketable.level_req}</font>
</td></tr>
<tr><td width="266" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">${gemapplytype_names[0]}</font></td>
<td width="266" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">${gemapplytype_names[1]}</font></td>
<td width="266" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">${gemapplytype_names[2]}</font></td>
</tr>
<tr>
<td height="70" bgcolor="#101010" align="center">
<font size="-1" face="arial,helvetica">
${socketable.stats_string(0)}
</font></td>
<td height="70" bgcolor="#101010" align="center">
<font size="-1" face="arial,helvetica">
${socketable.stats_string(1)}
</font></td>
<td height="70" bgcolor="#101010" align="center">
<font size="-1" face="arial,helvetica">
${socketable.stats_string(2)}
</font></td>
</tr>

% endfor

</tbody></table>
