                                    <a href="http://db.d2esr.online/beta/index.htm">[Top]</a>
                                    <a href="http://db.d2esr.online/beta/es3armo_n.htm">[Armor]</a>
                                    <a href="http://db.d2esr.online/beta/es3weap_n.htm">[Weapons]</a>
                                    <a href="http://db.d2esr.online/beta/es3pref_n.htm">[Prefixes]</a>
                                    <a href="http://db.d2esr.online/beta/es3suff_n.htm">[Suffixes]</a>
                                    <a href="http://db.d2esr.online/beta/es3uarmo_n.htm">[Uni Armor]</a>
                                    <a href="http://db.d2esr.online/beta/es3uweap_n.htm">[Uni Weapons]</a>
                                    <a href="http://db.d2esr.online/beta/es3uother_n.htm">[Uni Other]</a>
                                    <a href="http://db.d2esr.online/beta/es3set_n.htm">[Sets]</a>
                                    <a href="http://db.d2esr.online/beta/es3gem_n.htm">[Gems/Runes]</a>
                                    <a href="http://db.d2esr.online/beta/es3runew_n.htm">[Runewords]</a>
                                    <a href="http://db.d2esr.online/beta/es3gemw_n.htm">[Gemwords]</a>
                                    <a href="http://db.d2esr.online/beta/es3cube_n.htm">[Recipes]</a>
                                    <a href="http://db.d2esr.online/beta/es3map_n.htm">[Maps]</a>
