                                    <a href="http://d2esrdb.github.io/index.htm">[Top]</a>
                                    <a href="http://d2esrdb.github.io/armors.htm">[Armor]</a>
                                    <a href="http://d2esrdb.github.io/weapons.htm">[Weapons]</a>
                                    <a href="http://d2esrdb.github.io/prefixes.htm">[Prefixes]</a>
                                    <a href="http://d2esrdb.github.io/suffixes.htm">[Suffixes]</a>
                                    <a href="http://d2esrdb.github.io/unique_armors.htm">[Uni Armor]</a>
                                    <a href="http://d2esrdb.github.io/unique_weapons.htm">[Uni Weapons]</a>
                                    <a href="http://d2esrdb.github.io/unique_others.htm">[Uni Other]</a>
                                    <a href="http://d2esrdb.github.io/sets.htm">[Sets]</a>
                                    <a href="http://d2esrdb.github.io/gems.htm">[Gems/Runes]</a>
                                    <a href="http://d2esrdb.github.io/runewords.htm">[Runewords]</a>
                                    <a href="http://d2esrdb.github.io/gemwords.htm">[Gemwords]</a>
                                    <a href="http://d2esrdb.github.io/recipes.htm">[Recipes]</a>
                                    <a href="http://d2esrdb.github.io/maps.htm">[Maps]</a>
