<%page args="runewords, gemapplytype_names"/>\
<table cellpadding="5" border="0">
<tbody>
<tr>
<td width="125" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">
Rune Word</font></td>
<td width="205" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">
Allowed Items</font></td>
<td width="375" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">
${gemapplytype_names[0]}</font></td>
<td width="375" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">
${gemapplytype_names[1]}</font></td>
<td width="375" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">
${gemapplytype_names[2]}</font></td>
</tr>

% for runeword in runewords:
<tr>
<td bgcolor="#101010" align="center"><font size="-1" face="arial,helvetica"><font color="#908858"><b>${runeword.name}</b></font><br><br>${runeword.rune_string()}<br>(${runeword.num_sockets} Socket)<br><br></font></td>
<td bgcolor="#101010" align="center"><font size="-1" face="arial,helvetica">${runeword.bases_string()}</font></td>

<td bgcolor="#101010" align="center"><font size="-1" face="arial,helvetica"><font color="8080E6">
% if runeword.gemapplytype[0] == True:
${runeword.stats_string()}<br>${runeword.runes_string(0)}
<!--${runeword.types[0]}-->
% endif
</font></font></td>

<td bgcolor="#101010" align="center"><font size="-1" face="arial,helvetica"><font color="8080E6">
% if runeword.gemapplytype[1] == True:
${runeword.stats_string()}<br>${runeword.runes_string(1)}
<!--${runeword.types[1]}-->
% endif
</font></font></td>

<td bgcolor="#101010" align="center"><font size="-1" face="arial,helvetica"><font color="8080E6">
% if runeword.gemapplytype[2] == True:
${runeword.stats_string()}<br>${runeword.runes_string(2)}
<!--${runeword.types[2]}-->
% endif
</font></font></td>

</tr>
% endfor



