<%page args="weapons"/>\
<font size="-1" face="arial,helvetica">
<%
    categories = set()
%>
% for weapon in weapons:
<% categories.add(weapon[1]) %>
% endfor






% for category in sorted(list(categories)):
<a name="${category}"></a>
% for qlink in sorted(list(categories)):
<a href="#${qlink}">[${qlink}]</a>
% endfor
    <table cellpadding="5" border="0">
    <tbody><tr><td colspan="17" bgcolor="#402040" align="center"><font face="arial,helvetica">
    <b>${category}</b></font></td></tr><tr>
    <td width="150" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Name</font></td>
    <td width="300" bgcolor="#402040" align="center" colspan="3"><font size="-1" face="arial,helvetica">Damage</font></td>
    <td width="30" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Dur</font></td>
    <td width="30" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Range</font></td>
    <td width="30" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">WSM</font></td>
    <td width="25" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Qlvl</font></td>
    <td width="48" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Req Lvl</font></td>
    <td width="48" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Req Str</font></td>
    <td width="48" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Req Dex</font></td>
    <td width="48" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Str/Dex Bonus</font></td>
    <td width="26" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Soc</font></td>
    <td width="62" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Gem Type</font></td>
    <td width="300" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Automod</font></td>
    <td width="150" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Staffmod</font></td>
    </tr>
    % for weapon in weapons:
    % if weapon[1] == category:
<%
    color = 101010
    if weapon[3] == weapon[5]:
	color = 202020
    if weapon[3] == weapon[6]:
        color = 303030
    damtype = []
    dammin = []
    dammax = []
    numdam = 0
    if weapon[7] != "":
    	damtype.append("1H")
    	dammin.append(weapon[7])
	dammax.append(weapon[8])
        numdam = numdam + 1
    if weapon[9] != "":
    	damtype.append("2H")
    	dammin.append(weapon[9])
	dammax.append(weapon[10])
        numdam = numdam + 1
    if weapon[11] != "":
    	damtype.append("Mis")
    	dammin.append(weapon[11])
	dammax.append(weapon[12])
        numdam = numdam + 1
    rowspan = numdam 
%>
        <tr>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon[0]}<br>${weapon[3]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${damtype[0]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${dammin[0]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${dammax[0]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon[14]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon[13]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon[15]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon[16]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon[2]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon[18]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon[19]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon[20]}/${weapon[21]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon[22]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon[23]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon[24]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon[25]}</font></td>
	</tr>
% if rowspan > 1:
	<tr>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${damtype[1]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${dammin[1]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${dammax[1]}</font></td>
	</tr>
% endif
% if rowspan > 2:
	<tr>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${damtype[2]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${dammin[2]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${dammax[2]}</font></td>
	</tr>
% endif
    % endif
    % endfor
</tbody></table>
% endfor
