<%page args="affixes, item_type_list"/>\
<a name="gene">
<table cellpadding="5" border="0">
<tbody><tr><td bgcolor="#000000" align="center">
<font size="-1" face="arial,helvetica">
<a href="#gene">[General]</a>
<a href="#lcha">[Grand Charms]</a>
<a href="#mcha">[Large Charms]</a>
<a href="#scha">[Small Charms]</a>
<a href="#jewl">[Jewels]</a>
<a href="#quiv">[Quivers]</a>
<br><br></td></tr>
</tbody></table>
<table cellpadding="5" border="0">
<tbody><tr><td colspan="7" bgcolor="#402040" align="center">
<font face="arial,helvetica">
<b>Keys</b></font></td></tr>
<%
    i = 0
%>
% for entry in item_type_list:
	% if i == 0:
	<tr>
	% endif
<td width="154" bgcolor="181818"><font size="-1" face="arial,helvetica">
${entry}
</font></td>
	% if i == 5:
	</tr>

<%
	i = -1
%>
	% endif
<%
	i = i + 1
%>
% endfor
</tr>
</tbody></table>




<table cellpadding="5" border="0">
<tbody><tr><td bgcolor="#000000" align="center">
<font size="-1" face="arial,helvetica">
<a href="#gene">[General]</a>
<a href="#lcha">[Grand Charms]</a>
<a href="#mcha">[Large Charms]</a>
<a href="#scha">[Small Charms]</a>
<a href="#jewl">[Jewels]</a>
<a href="#quiv">[Quivers]</a>
</font></td></tr>
</tbody></table>
<table cellpadding="5" border="0">
<tbody><tr><td colspan="8" bgcolor="#402040" align="center"><font face="arial,helvetica">
<b>General</b></font></td></tr>
<tr>
<td width="115" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Name</font></td>
<td width="30" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Rare</font></td>
<td width="25" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Min iLvl</font></td>
<td width="45" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Max iLvl</font></td>
<td width="45" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Req Lvl</font></td>
<td width="35" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Rarity</font></td>
<td width="35" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Group</font></td>
<td width="290" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Stats</font></td>
<td width="200" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Item Type</font></td>
</tr>



% for affix in affixes:
% if "boqm" not in affix.item_types and "arrm" not in affix.item_types and "jewl" not in affix.item_types and "scha" not in affix.item_types and "mcha" not in affix.item_types and "lcha" not in affix.item_types:
    <tr>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    <font color="8080E6">
    ${affix.name}
    </font></font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.rare}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.max_level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.required_level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.rarity}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.group}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    <font color="8080E6">
    ${affix.stat_string}<br>
    </font></font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    ${affix.item_types_string}</font></td>
    </tr>
% endif
% endfor



</tbody></table>
</a><a name="lcha">
<table cellpadding="5" border="0">
<tbody><tr><td bgcolor="#000000" align="center">
<font size="-1" face="arial,helvetica">
<a href="#gene">[General]</a>
<a href="#lcha">[Grand Charms]</a>
<a href="#mcha">[Large Charms]</a>
<a href="#scha">[Small Charms]</a>
<a href="#jewl">[Jewels]</a>
<a href="#quiv">[Quivers]</a>
</font></td></tr>
</tbody></table>
<table cellpadding="5" border="0">
<tbody><tr><td colspan="8" bgcolor="#402040" align="center"><font face="arial,helvetica">
<b>Grand Charms</b></font></td></tr>
<tr>
<td width="115" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Name</font></td>
<td width="30" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Rare</font></td>
<td width="25" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Min iLvl</font></td>
<td width="45" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Max iLvl</font></td>
<td width="45" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Req Lvl</font></td>
<td width="35" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Rarity</font></td>
<td width="35" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Group</font></td>
<td width="290" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Stats</font></td>
<td width="200" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Item Type</font></td>
</tr>




% for affix in affixes:
% if "lcha" in affix.item_types:
    <tr>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    <font color="8080E6">
    ${affix.name}
    </font></font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.rare}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.max_level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.required_level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.rarity}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.group}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    <font color="8080E6">
    ${affix.stat_string}<br>
    </font></font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    ${affix.item_types_string}</font></td>
    </tr>
% endif
% endfor




</tbody></table>
</a><a name="mcha">
<table cellpadding="5" border="0">
<tbody><tr><td bgcolor="#000000" align="center">
<font size="-1" face="arial,helvetica">
<a href="#gene">[General]</a>
<a href="#lcha">[Grand Charms]</a>
<a href="#mcha">[Large Charms]</a>
<a href="#scha">[Small Charms]</a>
<a href="#jewl">[Jewels]</a>
<a href="#quiv">[Quivers]</a>
</font></td></tr>
</tbody></table>
<table cellpadding="5" border="0">
<tbody><tr><td colspan="8" bgcolor="#402040" align="center"><font face="arial,helvetica">
<b>Large Charms</b></font></td></tr>
<tr>
<td width="115" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Name</font></td>
<td width="30" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Rare</font></td>
<td width="25" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Min iLvl</font></td>
<td width="45" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Max iLvl</font></td>
<td width="45" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Req Lvl</font></td>
<td width="35" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Rarity</font></td>
<td width="35" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Group</font></td>
<td width="290" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Stats</font></td>
<td width="200" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Item Type</font></td>
</tr>




% for affix in affixes:
% if "mcha" in affix.item_types:
    <tr>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    <font color="8080E6">
    ${affix.name}
    </font></font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.rare}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.max_level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.required_level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.rarity}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.group}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    <font color="8080E6">
    ${affix.stat_string}<br>
    </font></font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    ${affix.item_types_string}</font></td>
    </tr>
% endif
% endfor





</tbody></table>
</a><a name="scha">
<table cellpadding="5" border="0">
<tbody><tr><td bgcolor="#000000" align="center">
<font size="-1" face="arial,helvetica">
<a href="#gene">[General]</a>
<a href="#lcha">[Grand Charms]</a>
<a href="#mcha">[Large Charms]</a>
<a href="#scha">[Small Charms]</a>
<a href="#jewl">[Jewels]</a>
<a href="#quiv">[Quivers]</a>
</font></td></tr>
</tbody></table>
<table cellpadding="5" border="0">
<tbody><tr><td colspan="8" bgcolor="#402040" align="center"><font face="arial,helvetica">
<b>Small Charms</b></font></td></tr>
<tr>
<td width="115" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Name</font></td>
<td width="30" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Rare</font></td>
<td width="25" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Min iLvl</font></td>
<td width="45" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Max iLvl</font></td>
<td width="45" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Req Lvl</font></td>
<td width="35" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Rarity</font></td>
<td width="35" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Group</font></td>
<td width="290" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Stats</font></td>
<td width="200" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Item Type</font></td>
</tr>




% for affix in affixes:
% if "scha" in affix.item_types:
    <tr>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    <font color="8080E6">
    ${affix.name}
    </font></font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.rare}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.max_level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.required_level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.rarity}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.group}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    <font color="8080E6">
    ${affix.stat_string}<br>
    </font></font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    ${affix.item_types_string}</font></td>
    </tr>
% endif
% endfor





</tbody></table>
</a><a name="jewl">
<table cellpadding="5" border="0">
<tbody><tr><td bgcolor="#000000" align="center">
<font size="-1" face="arial,helvetica">
<a href="#gene">[General]</a>
<a href="#lcha">[Grand Charms]</a>
<a href="#mcha">[Large Charms]</a>
<a href="#scha">[Small Charms]</a>
<a href="#jewl">[Jewels]</a>
<a href="#quiv">[Quivers]</a>
</font></td></tr>
</tbody></table>
<table cellpadding="5" border="0">
<tbody><tr><td colspan="8" bgcolor="#402040" align="center"><font face="arial,helvetica">
<b>Jewels</b></font></td></tr>
<tr>
<td width="115" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Name</font></td>
<td width="30" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Rare</font></td>
<td width="25" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Min iLvl</font></td>
<td width="45" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Max iLvl</font></td>
<td width="45" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Req Lvl</font></td>
<td width="35" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Rarity</font></td>
<td width="35" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Group</font></td>
<td width="290" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Stats</font></td>
<td width="200" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Item Type</font></td>
</tr>




% for affix in affixes:
% if "jewl" in affix.item_types:
    <tr>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    <font color="8080E6">
    ${affix.name}
    </font></font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.rare}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.max_level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.required_level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.rarity}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.group}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    <font color="8080E6">
    ${affix.stat_string}<br>
    </font></font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    ${affix.item_types_string}</font></td>
    </tr>
% endif
% endfor




</tbody></table>
</a><a name="quiv">
<table cellpadding="5" border="0">
<tbody><tr><td bgcolor="#000000" align="center">
<font size="-1" face="arial,helvetica">
<a href="#gene">[General]</a>
<a href="#lcha">[Grand Charms]</a>
<a href="#mcha">[Large Charms]</a>
<a href="#scha">[Small Charms]</a>
<a href="#jewl">[Jewels]</a>
<a href="#quiv">[Quivers]</a>
</font></td></tr>
</tbody></table>
<table cellpadding="5" border="0">
<tbody><tr><td colspan="8" bgcolor="#402040" align="center"><font face="arial,helvetica">
<b>Arrow/Bolt Quivers</b></font></td></tr>
<tr>
<td width="115" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Name</font></td>
<td width="30" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Rare</font></td>
<td width="25" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Min iLvl</font></td>
<td width="45" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Max iLvl</font></td>
<td width="45" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Req Lvl</font></td>
<td width="35" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Rarity</font></td>
<td width="35" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Group</font></td>
<td width="290" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Stats</font></td>
<td width="200" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Item Type</font></td>
</tr>




% for affix in affixes:
% if "arrm" in affix.item_types or "boqm" in affix.item_types:
    <tr>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    <font color="8080E6">
    ${affix.name}
    </font></font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.rare}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.max_level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.required_level}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.rarity}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">${affix.group}</font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    <font color="8080E6">
    ${affix.stat_string}<br>
    </font></font></td>
    <td bgcolor="#181818" align="center"><font size="-1" face="arial,helvetica">
    ${affix.item_types_string}</font></td>
    </tr>
% endif
% endfor




</tbody></table>
<table cellpadding="5" border="0">
<tbody><tr><td bgcolor="#000000" align="center">
<font size="-1" face="arial,helvetica">
<a href="#gene">[General]</a>
<a href="#lcha">[Grand Charms]</a>
<a href="#mcha">[Large Charms]</a>
<a href="#scha">[Small Charms]</a>
<a href="#jewl">[Jewels]</a>
<a href="#quiv">[Quivers]</a>
</font></td></tr>
</tbody></table>
</a><a name="quiv">
