<%page args="sets"/>\
<table width="800" cellpadding="5" border="0">
<tbody>

% for _set in sets:
<tr><td colspan="2" bgcolor="#402040" align="center">
<font face="arial,helvetica">
<b>${_set.name}</b></font></td></tr>
<tr>
% for item in _set.items:
<td width="45%" bgcolor="#101010" align="center">
<font size="-1" face="arial,helvetica">
<b><font color="#48B850">${item.name}</font><br>
% if item.base_url == "":
${item.base_name} (${item.base_code})<br></b>
% else:
<a href="${item.base_url}">${item.base_name} (${item.base_code})</a><br></b>
% endif
Lvl ${item.level} / Req Lvl ${item.required_level}<br>
Gamble Item:
${item.gamble_item_string}<br><br>
<font color="8080E6">
${item.stats_string()}
</font></font></td>
<td width="50%" bgcolor="#101010" align="center">
<font size="-1" face="arial,helvetica" color="#48B850">
${item.bonus_stats_string()}
</font></td>
</tr>

% endfor

<tr>
<td width="45%" bgcolor="#202020" align="center">
<font size="-1" face="arial,helvetica" color="#908858">
<b>Partial Set Bonus</b><br><br>
${_set.partial_stats_string()}
</font></td>
<td width="50%" bgcolor="#202020" align="center">
<font size="-1" face="arial,helvetica" color="#908858">
<b>Full Set Bonus</b><br>
${_set.full_stats_string()}
</font></td>
</tr>

% endfor


</tbody></table>
