<%page args="weapons"/>\
<font size="-1" face="arial,helvetica">
<%
    categories = set()
%>
% for weapon in weapons:
<% categories.add(weapon.category) %>
% endfor






% for category in sorted(list(categories)):
<a name="${category}"></a>
% for qlink in sorted(list(categories)):
<a href="#${qlink}">[${qlink}]</a>
% endfor
    <table cellpadding="5" border="0">
    <tbody><tr><td colspan="17" bgcolor="#402040" align="center"><font face="arial,helvetica">
    <b>${category}</b></font></td></tr><tr>
    <td width="150" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Name</font></td>
    <td width="300" bgcolor="#402040" align="center" colspan="3"><font size="-1" face="arial,helvetica">Damage</font></td>
    <td width="30" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Dur</font></td>
    <td width="30" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Range</font></td>
    <td width="30" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">WSM</font></td>
    <td width="25" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Qlvl</font></td>
    <td width="48" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Req Lvl</font></td>
    <td width="48" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Req Str</font></td>
    <td width="48" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Req Dex</font></td>
    <td width="48" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Str/Dex Bonus</font></td>
    <td width="26" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Soc</font></td>
    <td width="62" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Gem Type</font></td>
    <td width="300" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Automod</font></td>
    <td width="150" bgcolor="#402040" align="center"><font size="-1" face="arial,helvetica">Staffmod</font></td>
    </tr>
    % for weapon in weapons:
    % if weapon.category == category:
<%
    color = 101010
    if weapon.code == weapon.exceptional_code:
	color = 202020
    if weapon.code == weapon.elite_code:
        color = 303030
    damtype = []
    dammin = []
    dammax = []
    numdam = 0
    if weapon.damage.mindam != "":
    	damtype.append("1H")
    	dammin.append(weapon.damage.dam)
	dammax.append(weapon.damage.avg)
        numdam = numdam + 1
    if weapon.damage._2handmindam != "":
    	damtype.append("2H")
    	dammin.append(weapon.damage._2handdam)
	dammax.append(weapon.damage._2handavg)
        numdam = numdam + 1
    if weapon.damage.minmisdam != "":
    	damtype.append("Mis")
    	dammin.append(weapon.damage.misdam)
	dammax.append(weapon.damage.misavg)
        numdam = numdam + 1
    rowspan = max(numdam, 1)
%>
<a name="${weapon.code}"></a>
        <tr>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon.name}<br>${weapon.code}</font></td>
% if numdam > 0:
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${damtype[0]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${dammin[0]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${dammax[0]}</font></td>
% else:
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica"></font></td>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica"></font></td>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica"></font></td>
% endif
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon.durability}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon.rangeadder}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon.speed}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon.level}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon.req_level}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon.reqstr}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon.reqdex}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon.strbonus}/${weapon.dexbonus}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon.gemsockets}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon.gemapplytype}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica"><details><summary>Expand</summary>${weapon.automods_string()}</details></font></td>
	<td bgcolor="#${color}" align="center" rowspan="${rowspan}"><font size="-1" face="arial,helvetica">${weapon.staffmods}</font></td>
	</tr>
% if numdam > 1:
	<tr>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${damtype[1]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${dammin[1]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${dammax[1]}</font></td>
	</tr>
% endif
% if numdam > 2:
	<tr>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${damtype[2]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${dammin[2]}</font></td>
	<td bgcolor="#${color}" align="center" rowspan="1"><font size="-1" face="arial,helvetica">${dammax[2]}</font></td>
	</tr>
% endif
    % endif
    % endfor
</tbody></table>
% endfor
